* {
  --font-family: 'Inter';
  
  --custom-gap: 1.5rem;
  --custom-padding: 2rem 5rem;
  --card-padding: 2rem;
  --button-padding: 0.6rem 1.1rem;
  --custom-radius: 0.5rem;
  --button-radius: 0.5rem;

  /* Text colours */
  --primary-color: #000000;
  --tertiary-color: #FFFFFF;
  --secondary-color: #2E42A5;
  --subheadline-color: #1E1E1E;

  /* Background colours*/
  --white-background: #FFFFFF;
  --tertiary-background: #E9E9EC;
  --faint-blue-background: #F3F4FF;
  
  --darkblue-background: #2F3676;
  --blue-background: #2E42A5;
  --hero-background: linear-gradient(180deg, #FCFCFF 0%, #EEF1FF 100%);
  --fc-color: #FCFCFF;
  --ef1-color: #EEF1FF;

  /* Unclassified colours */

  --background: #F7F9FF;

  /* Shadow */
  --button-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --action-card-shadow: 0px 0px 25px rgba(46, 66, 165, 0.25);
}

.landing {
  background-image: url('./assets/icons/leaf.svg'), url('./assets/icons/leaf.svg'), url('./assets/icons/leaf.svg'),linear-gradient(180deg, #FCFCFF 5%, var(--faint-blue-background) 95%);
  background-position: 20% 60%, 95% 73%, 50% 97%;
  background-repeat: no-repeat;
}

root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#TAT {
  background-color: var(--faint-blue-background);
  background-image: url('./assets/illustrations/camera-image-end.svg'), url('./assets/illustrations/text-image-start.svg');
  background-size: contain;
  background-position: left, right;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 25px rgba(46, 66, 165, 0.25);
}

#TTA {
  background-color: var(--faint-blue-background);
  background-image: url('./assets/illustrations/camera-image-start.svg'), url('./assets/illustrations/text-image-end.svg');
  background-size: contain;
  background-position: right, left;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 25px rgba(46, 66, 165, 0.25);
}

#mission-card {
  background-image: url('./assets/illustrations/two-leaves.svg'), url('./assets/illustrations/tree-variant1.svg');
  background-repeat: no-repeat;
  background-position: 13% 27%, 100% 100%;
}

#contact-section {
  background-image: url('./assets/illustrations/light-blue-tree.svg');
  background-repeat: no-repeat;
  background-position: -1% 100%;
}