* {
  --font-family: 'Inter';
  
  --custom-gap: 1.5rem;
  --custom-padding: 2rem 3rem;
  --card-padding: 2rem;
  --button-padding: 0.6rem 1.1rem;
  --custom-radius: 0.5rem;
  --button-radius: 0.5rem;

  /* Text colours */
  --primary-color: #000000;
  --tertiary-color: #FFFFFF;
  --secondary-color: #2E42A5;
  --subheadline-color: #1E1E1E;

  /* Background colours*/
  --white-background: #FFFFFF;
  --tertiary-background: #E9E9EC;
  --faint-blue-background: #F3F4FF;
  
  --darkblue-background: #2F3676;
  --blue-background: #2E42A5;
  --hero-background: linear-gradient(180deg, #FCFCFF 0%, #EEF1FF 100%);

  /* Unclassified colours */

  --background: #F7F9FF;
  
}

root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
